<h1>{{ title }}</h1>

<ul>
  
  <li *ngFor="let pizza of pizzas$ | async">
    {{ pizza.name }} 
    <span *ngIf="pizza.isGlutenFree">( Sans gluten )</span>
    <button (click)="updatePizza(pizza.id)"> modifier nom </button>
    <button (click)="deletePizza(pizza.id)">Supprimer</button>
  </li>
</ul>

<form [formGroup]= "pizzaForm" (ngSubmit)="addPizza()">
  <label for="name">Nom de la pizza</label>
  <input type="text" formControlName="name" id="name">
  <label for="isGlutenFree">Sans gluten ? </label>
  <input type="checkbox" formControlName="isGlutenFree" id="isGlutenFree">
  <button type="submit" [disabled]="pizzaForm.get('name')?.value.length <5" >ajouter</button>
</form>